/* :root {
    --base-red:
    --base-blue:
    --base-teal:
} */

html {
    box-sizing: border-box;
    height: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    align-items: center;
    background: linear-gradient(320deg, rgb(255, 175, 175), rgb(181, 181, 255), rgb(146, 251, 255));
    display: flex;
    font-family: sans-serif;
    font-display: swap;
    height: inherit;
    justify-content: center;
}

.row_screen {
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: #2f68d383;
    border: 2px solid rgba(170, 0, 255, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 60px rgb(181, 181, 255);
    color: #1b1b1b;
    flex-basis: 240px;
    height: 360px;
    padding: 20px 35px;
}

.screen {
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgb(181, 181, 255);
    border: 1px solid rgba(170, 0, 255, 0.2);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgb(255, 175, 175);
    color: #1b1b1b;
    font-size: 35px;
    overflow: auto;
    padding: 4px;
    text-align: right;
    width: 180px;
}

.row_btn {
    display: flex;
    justify-content: space-between;
    margin: 6% 0;
}

.btn {
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgb(181, 181, 255, 0.5);
    border: 1px solid rgba(170, 0, 255, 0.3);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgb(255, 175, 175);
    color: #1b1b1b;
    flex-basis: 20%;
    font-family: inherit;
    font-size: 26px;
    height: 42px;
    transition-property: background-color;
    transition-duration: 0.2s;
}

.cmd {
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgb(181, 181, 255);
    border: 1px solid rgba(170, 0, 255, 0.3);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgb(255, 175, 175);
    color: #1b1b1b;
    background: rgb(146, 251, 255, 0.3);
}

.btn:hover {
    background-color: inherit;
    color: inherit;
}

.btn:active {
    background-color: rgb(146, 251, 255);
}

.double {
    flex-basis: 47%;
}